# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
/vue-project/package-lock.json
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
/vue-project/.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/vue-project/processed_data

/data/rack_env_all.20190528(1).csv
k_computer.csv
.DS_Store
