@import './base.css';

#app {
  margin: 10px;
  padding: 1rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.header .header-inner {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  color: #333;
  background-color: #fafafa;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1em;
}
.header .title h1 {
  font-size: 32px;
  margin-bottom: 0.1em;
}
@media (min-width: 1200px) {
  .header .title h1 {
    font-size: 45px;
  }
}
.header .title h2 {
  margin-top: 0.1em;
  margin-bottom: 2em;
  font-size: 20px;
  font-weight: 200;
}
@media (min-width: 992px) {
  .header .title h2 {
    font-size: 22px;
  }
}
.header .title .authors {
  font-family: 'Helvetica Neue', sans-serif;
  color: #999999;
  font-weight: 200;
  font-size: 18px
}
